.titleBar {
  display: block;
  padding-left: 20px;
}

.title {
  font-family: 'Roboto', sans-serif;
  font-size: 42px;
  font-weight:500;
  text-align: center;
}

.moviePoster {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flippy-container {
  margin: 10px;
}

ul {
  width: 80%;
  display: flex;
  list-style-type: none;
  font-size: 22px;
  justify-content: space-around;
}

nav {
  margin: 3%;
  display: flex;
}


